.paginations {
    display: flex;
  text-align: center;
  margin: 0 0% 0 30%; 
  align-items: center; 

  padding: 0.1rem;

}
.paginations li a {
    background-color: blue;
    border-radius: 7px;
    color: #fff;
    margin-left: 0.2rem;
}.paginations li a:hover{
    background-color: black;
    color: rgb(86, 86, 247);
}
