
.memo-div {
    display: flex;
    flex-direction: column;
    width: 100%;height: 100%;
}
.memo-head{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.623);
    border-radius: 7px;
    margin: 2%  22% 2% 22%;
    padding: 3% 10%;
    background-color: rgb(243, 242, 242);
    outline: none;
    height: 20%;
}
.memo-head .memo-title {
    text-align: center;
    font-weight: 600;
}

.memo-image-container{
    width: 100%;
    height: 100%;
}
 .memo-image-img {
    object-fit: contain;
    max-width: 80%;
    max-height: 80%;
    padding: 0  ;
    margin-left: 1.9rem;

} 

.memo-details{
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.623);
    border-radius: 7px;
    margin: 0 20rem 0 20rem;
    padding: 1rem;
    background-color: rgb(243, 242, 242);
}

.memo-desc {
    margin: 1rem;
    padding: 0.1rem;
}

.memo-button a {
    background-color: orange;
    padding:0.5rem  4rem;
    margin: 1rem;
    border-radius: 7px;
    color:black;
    transition: all 0.3s ease-in-out;
}
.memo-button a:hover {
    background-color: rgb(121, 106, 69);
    color: linen;
}
@media screen and (max-width:700px) {
    .memo-image-container {
        width: 100%;
        padding-bottom: 0;
    }
    .memo-details {
        margin: 1rem 2.5rem 1.5rem 2.3rem;
    }
    .memo-head {
        margin: 2%  8% 0 8%;
    }
}